/*通配符样式开始*/
*{
	margin: 0;
	padding: 0;
	border: 0;
	height: auto;
	font-size: 1.5625vm;
	font-family: "Microsoft Yahei";
}
html,body{
	height: auto;
}
/*通配符样式结束*/
/*抽屉样式开始*/
.bgDiv{
    width: 100%;
    height: 100%;
    background-color: #5E5E5E;
    opacity: .5;
    position:fixed;
    display: none;
    z-index: 99;
    bottom: 0;
}
.leftNav{
    width: 50%;
    max-width: 200px;
    height: 100%;
    background-color: #2B2B2B;
    position: fixed;
    z-index: 999;
    top: 0px;
    left: -50%;
}
.vip{
	text-align: center;
	color: #FFF;
}
.vip p{
	margin-top: 5%;
	margin-bottom: 5%;
	font-size: 60%;
}
.vip img{
	width: 70px;
	height: 70px;
	margin-top: 10%;
}
.vip button{
	width: 70%;
	height: 20px;
	background-color: red;
	color: #FFF;

}
.mendian{
	padding-top: 50px;
	font-size: 80%;
	color: #FFF;
}
.mendian img{
	width: 7%;
	padding-left: 5%;
	padding-right: 5%;
}
/*抽屉样式结束*/
.head{
	position: absolute;
	padding-top: 5px;
	width: 100%;
	background-color:#F6F7F7;
	box-shadow: 0px 5px 10px #F3EBEB;
	padding-bottom: 5px;
}

.head ul li{
	float: left;
	list-style: none;
	text-align: center;
}

.left{
	width:15%;
}
.last{
	padding-top: 0px;
	width: 5%;
}
.before{
	padding-top: 0px;
	width: 5%;
}
.rili{
	width: 15%;
}
.titles{
	width: 60%;
}
.head img{
	width:30%;
	vertical-align:middle;
}
.head span{
	font-size: 80%;
}
.nav {
	height: 50px;
	width: 100%;
	text-align: center;
}
.nav ul {
	margin: 0 0 0 0;
	padding: 0px;
	font-size: 90%;
	color:#BBEEBB;
	line-height: 30px;
	white-space: nowrap;
}
.nav li {
	list-style-type: none;
	display: inline;
}

.content{
	text-align: center;
	position: absolute;
	height: auto;
	bottom: 100px;
	width: 100%;
}
#menus{
	display:block;
	position: fixed;
	bottom: 0;
	width: 100%;
	padding-bottom:0px;
	padding-top:3px;
	background-color:#F6F7F7;
	text-align:center;
}
#menus ul li{
	float: left;
	list-style: none;
	text-align: center;
	width: 25%;
}
#menus img{
	display:inline-block;
	width:45%;
	vertical-align:middle;
}
.select{
	background: #dddddd;
	border-bottom-color: red;
	padding: 0;
}
.mian {
	display: block;
	width: 100%;
	margin-right: auto;
	margin-left: auto;
	height:100px;
}
.mian .mian_biaodan {
	padding-top:60px;
	display: block;
	width: 300px;
	margin-right: auto;
	margin-left: auto;
	height:90px;
}
.mian .mian_biaodan .biaodan {
	display: block;
	width: 100%;
	margin-right: auto;
	margin-left: auto;
	padding:0;
}
.mian .mian_biaodan .biaodan li {
	display: block;
	float: left;
	width: 33%;
	font-size: 18px;
	color: #2E8906;
	height:60px;
}
.mian .jieguo {
	display: block;
	width: 100%;
	margin-right: auto;
	margin-left: auto;
}
/*
支付方式表格样式
*/
.payment{
	margin-left: 20%;
	margin-right: 20%;
	padding-top: 50px;
	text-align: center;
	font-size: 80%;
}
.payment td{
	width: 20%;
}