.sang_Calender{
	border:0px solid #F6F7F7;
	/*background-image: url("rili.png");*/
	background-color: #F6F7F7;
	background-repeat: no-repeat;
	vertical-align: center;
	background-size: 30%; 
	width: 15%;
	/*text-indent: 100px;*/
}